@charset "utf-8";
/* CSS Document */


/* Page warning part */
.contact_roadsideAssistance .warnblock{
	padding:22px 18px;
}

/* Page Hours Service */
.contact_roadsideAssistance .warnblock .hourservice{
	overflow:hidden;
	display:block;
	border-bottom:1px solid #e6e6e6; 
	padding:0px 15px 20px 3px; 
	margin-bottom:20px;
}

.contact_roadsideAssistance .warnblock .hourservice .firstli{
	 background:url(../img/icon-24hourservice.png) top right no-repeat; 
	 background-size:20px 21px; 
	 width:20px; 
	 height:45px;
	 float:left;
}

.contact_roadsideAssistance .warnblock .hourservice .secondli{
	display:block; 
	margin-left:28px; 
	margin-right:35px;
}

.contact_roadsideAssistance .warnblock .hourservice .secondli .hstitle{
	font-size:15px; 
	color:#102839; 
	line-height:20px; 
	display:block;
}

.contact_roadsideAssistance .warnblock .hourservice .secondli .hsphonenumber{
	font-size:21px; 
	color:#2596cf; 
	line-height:30px; 
	display:block;
}

.contact_roadsideAssistance .warnblock .hourservice .thridli{
	float:right;
	width:35px;
	padding-top:5px;
}

/* Page Remember */
.contact_roadsideAssistance .warnblock .rememtitle{
	font-size:12px; 
	color:#ff3333; 
	line-height:14px;
	margin-bottom:13px;
}

.contact_roadsideAssistance .warnblock .rememtitle span{
	float:left; 
	margin-right:12px;
}

.contact_roadsideAssistance .warnblock .rememinfo{
	font-size:9px; 
	line-height:20px; 
	color:#616161; 
	margin-bottom:20px;
}

.contact_roadsideAssistance .warnblock .myinfo{
	padding:20px 15px; 
	background:#f4f4f3; 
	position:relative;
	margin-bottom:18px;
}

.contact_roadsideAssistance .warnblock .myinfo .mititle{
	font-size:9px; 
	color:#999999; 
	line-height:15px; 
	margin-bottom:10px;
}

.contact_roadsideAssistance .warnblock .myinfo .midetail{
	overflow:hidden;
	margin-bottom:14px;
}
.contact_roadsideAssistance .warnblock .myinfo .midetail .midetail-number{
	padding-left:3px; 
	font-size:12px; 
	color:#d2d1d1; 
	font-weight:bold; 
	float:left;
}
.contact_roadsideAssistance .warnblock .myinfo .midetail div p{
	display:block;
	margin-left:23px; 
	font-size:12px; 
	color:#000000;
	line-height:18px;
}

.contact_roadsideAssistance .arrow-gray-up{ 
	position:absolute; 
	left:50%; 
	margin-left:-10px; 
	top:-10px;
	background:url(../img/arrow-gray-up.png) no-repeat; 
	background-size:20px 10px; 
	width:20px; 
	height:10px;
}

.contact_roadsideAssistance .warnblock .myinfo .graybottomline{
	border-bottom:1px solid #e3e2e2;
	padding-bottom:18px;
	margin-bottom:18px;
}

.contact_roadsideAssistance .warnblock .myinfo .midetail .midetail-icon{
	padding-left:3px; 
	width:10px; 
	height:15px;
	float:left;
}
.contact_roadsideAssistance .marginbottom0{
	margin-bottom:0px !important;
}

/* Page normal part */
.contact_roadsideAssistance .FRAintroduce{
	padding:20px 25px 25px 17px;
	color:#616161;
	font-size:12px;
	line-height:17px;
}

.contact_roadsideAssistance .FRAtitle{
	color:#616161;
	font-size:12px;
	line-height:14px;
	margin-bottom:10px;
	padding-left:17px;
}

.contact_roadsideAssistance .FRAinfoblock{
	padding:13px 0px 15px 0px; 
	background:#f4f4f3;
	margin-bottom:23px;
}

.contact_roadsideAssistance .FRAinfoblock div{
	overflow:hidden;
	padding:0px 17px;
}

.contact_roadsideAssistance .FRAinfoblock div .FRAinfo-number{
	padding-left:5px; 
	font-size:12px; 
	color:#2596cf; 
	font-weight:bold; 
	float:left;
}

.contact_roadsideAssistance .FRAinfoblock div p{
	display:block;
	margin-left:23px; 
	font-size:12px; 
	color:#000000;
	line-height:18px;
}

.contact_roadsideAssistance .FRAinfoblock .graybottomline2{
	border-bottom:1px solid #e3e2e2;
	padding-bottom:10px;
	margin-bottom:12px;
}

.contact_roadsideAssistance .FRAinfoblock .FRAinfo-icon{
	padding-left:2px; 
	width:10px; 
	height:15px;
	float:left;
}

.contact_roadsideAssistance .graybottomline3{
	border-bottom:1px solid #e3e2e2;
	padding-bottom:38px;
	margin-bottom:19px;
}
.contact_roadsideAssistance .hourservice{
	padding-left:17px;
	padding-right:19px;
	overflow:hidden;
}

.contact_roadsideAssistance .hourservice .hstitle{
	font-size:15px;
	color:#102839;
	line-height:17px;
	margin-bottom:6px;
	display:block;
	margin-right:36px;
}

.contact_roadsideAssistance .hourservice .hsnumber{
	color:#2596cf;
	font-size:24px;
	line-height:28px;
	display:block;
	margin-right:36px;
	margin-bottom:27px;
}

.contact_roadsideAssistance .hourservice .hsicon{
	float:right;
	width:35px;
	height:35px;
	margin-top:6px;
}