@charset "utf-8";
/* CSS Document */

.service_checklist_au .am-body-wrap {
    background-color: #fff;
}


.service_checklist_au .list-item {
    min-height: 80px;
    color: #2596cf;
    clear: both;
    position:relative;
    border-bottom: solid 1px #e3e2e2;
    margin: 0 18px;
    padding-bottom: 16px;
}

.service_checklist_au .list-item .title-item {
    height: 80px;
}

.service_checklist_au .list-item .title-item .title {
    font-size: 16px;
    height: 100%;
    line-height: 80px;
}

.service_checklist_au .list-item .icon,
.service_checklist_au .list-item .title-item .title {
    float: left;
    height: 100%;
}

.service_checklist_au .list-item  .title-item .icon {
    height: 38px;
    width: 38px;
    border-radius: 38px;
    border: solid 1px #2596cf;
    background-repeat: no-repeat;
    background-position:center center;
    margin:20px 0px;
    margin-right:10px;   
    background-size:60%; 
}

.service_checklist_au .list-item  .title-item .icon.book{
    background-image:url("../img/checkList/book_service.png")
}
.service_checklist_au .list-item  .title-item .icon.calculator{
    background-image:url("../img/checkList/price_calculator.png")
}
.service_checklist_au .list-item  .title-item .icon.reminder{
    background-image:url("../img/checkList/calendar_reminder.png")
}

.service_checklist_au .list-item .title-item .button {
    position:absolute;
    right:0;
    top:0px;
    height:80px;
    width:60px;
    background:url("../img/button-arrow-right.png") center center no-repeat; 
    background-size: 9px 16px;
    background-position: right
}

.service_checklist_au .disclaimer
{
    font-size: 12px;
    color: #7d7d7d;
}